body {
    overflow-x: hidden;
}

.img-head {
    background-image: url('https://box.lolis.love/0/pdkj7.webp');
    width: 100%;
    height: 30vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 15px !important;
}

.bs {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 15px !important;
}

.head-text {
    padding-top: 15%;
}

.works {
    padding: 3rem;
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
    margin: 1.5rem;
    margin-bottom: 1.5rem !important;
    margin-top: -2rem !important;
    text-align: left;
    border-radius: 15px;;
    background-color: var(--rCont);
    color: var(--rBlack);    
}

.card-img-wrap {
    padding: 27%;
    position: relative;
    overflow: hidden;
}

.card-img-wrap img {
    position: absolute;
    top: 0;
    transition: 0.5s;
    margin-left: -50%;
    margin-top: 0;
}

.card-img-wrap img:hover {
    transform: scale(1.1);
}